<!DOCTYPE html>
<html lang="pt">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{% block title %}{% endblock %} - iTurmas</title>

            <!-- Jquery UI (for autocomplete widget -->
            <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
            <!-- <link href="{{ url_for('static', filename='vendor/bootstrap/css/jquery-ui.structure.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}" rel="stylesheet"> -->

            <!-- Bootstrap core CSS -->
            <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/btn-toggle.css') }}" rel="stylesheet">

            <!-- Google Material Icons -->
            <!-- <<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

            <!-- Noty -->
            <link href="{{ url_for('static', filename='css/noty.css') }}" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="{{ url_for('static', filename='css/iturmas.css') }}" rel="stylesheet">

            <!-- favicon -->
            <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

            <style>
                @font-face {
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: 400;
                    src: url({{ url_for('static', filename='fonts/material.woff2') }}) format('woff2'),
                        url({{ url_for('static', filename='fonts/material001.ttf') }}) format('truetype');
                }

                .material-icons {
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 24px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    -webkit-font-feature-settings: 'liga';
                    -webkit-font-smoothing: antialiased;
                }
            {% block styles %}
            {% endblock %}
            </style>
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% block navbar %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                {% block brand_link %}
                <a id="iturmas_brand" class="navbar-brand brand" href="{{ url_for('pages.app_help') }}"><i>iTurmas</i></a>
                {% endblock %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    {% block links %}
                    <ul class="navbar-nav ml-auto">
                        {% block link_panel %}
                        <li class="nav-item">
                            <a class="nav-link" href="/panel">Painel</a>
                        </li>
                        {% endblock %}
                        {% block link_students %}
                        <li class="nav-item">
                            <a class="nav-link" href="/students/index">Alunos</a>
                        </li>
                        {% endblock %}
                        {% block link_courses %}
                        <li class="nav-item">
                            <a class="nav-link" href="/courses/index">Disciplinas</a>
                        </li>
                        {% endblock %}
                        {% block link_classes %}
                        <li class="nav-item">
                            <a class="nav-link" href="/classes/index">Turmas</a>
                        </li>
                        {% endblock %}
                        {% block link_logout %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><i class="material-icons">exit_to_app</i></a>
                        </li>
                        {% endblock %}
                    </ul>
                    {% endblock %} {# LINKS #}
                </div>
            </div>
        </nav>
        {% endblock %} {# NAVBAR #}

        {% block modals %}

        <!-- Spinner Modal -->
        <div class="modal fade" id="spinnerModal" tabindex="-1" role="dialog" aria-labelledby="spinnerModalLabel"
             data-backdrop="static" data-keyboard="false" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Processando...</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body" style="text-align: center;">
                <div class="my-loader" style="display: inline-block;"></div>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div>
          </div>
        </div>
        {% endblock %} {# MODALS #}



        <!-- Page Content -->
        <div class="container" style="min-height: 100vh;">
        {% block content %}
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8" id="entries">
                    {% block entries %}
                    <!-- Blog Post
                    <div class="card my-4">
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a href="#" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 1, 2017 by
                            <a href="#">Start Bootstrap</a>
                        </div>
                    </div> -->
                    {% endblock %} {# ENTRIES #}
                </div>


                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">
                    {% block sidebar %}
                    <!-- Search Widget
                    <div class="card my-4">
                        <h5 class="card-header">Buscar</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input id="search_string" type="text" class="form-control" placeholder="nome ou RA">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"
                                            style="padding: .2em; text-align: center; vertical-align: middle;" id="search_button"
                                            onclick="search(0);">
                                        <i class="material-icons" style="font-size: 24px;">search</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div> -->
                    {% endblock %} {# SIDEBAR #}
                </div>


            </div> <!-- /.row -->

        {% endblock %} {# CONTENT #}
        </div> <!-- /.container -->

        <!-- Footer -->
        {% block footer %}
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; iTurmas 2019</p>
                <p class="m-0 text-center text-white">
                    {% if 'email' in session %}
                    {% if session.session_object is defined %}
                    {% if session.session_object.role == 'admin' %}Usuário logado como <i>admin</i>{% else %}Usuário logado com o email
                    {{ session.email }} e permissões de aluno{% endif %}.
                    {% endif %}
{#                    {% else %}
                        Ninguem está logado. #}
                    {% endif %}
                </p>
            </div> <!-- /.container -->
        </footer>
        {% endblock %} {# FOOTER #}


        {% block scripts %}
        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Noty -->
        <script src="{{ url_for('static', filename='js/noty.min.js') }}"></script>

        <!-- Bootbox -->
        <script src="{{ url_for('static', filename='js/bootbox.all.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/notify.js') }}"></script>
        {% endblock %} {# SCRIPTS #}
        {% endblock %} {# BODY #}
        <script>
            var msgs = []

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        msgs.push("{{ message }}");
                    {% endfor %}
                {% endif %}
            {% endwith %}

            msgs.reverse()
            console.log(msgs)

            const showMessages = (remaining) => {
                if (!remaining.length)
                    return;
                const msg = remaining.pop()
                flash(msg)
                setTimeout(() => {
                    showMessages(remaining)
                }, 2000)
            }

            showMessages(msgs);
        </script>
    </body>
</html>
