{% extends "base.html" %}

{% block title %}Senha{% endblock %}

{% block links %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">&nbsp;</div>

    <div class="card my-4">
        <h5 class="card-header">Definir senha</h5>
        <div class="card-body">
            <form method="POST" action="/set_password" id="setPassword">
            <div class="form-group">
                <div class="input-group">
                    <input name="password1" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input name="password2" type="password" class="form-control" placeholder="Confirm password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="hidden" value="{{ token }}" name="reset_password_token"/>
                    <button class="btn btn-primary" type="submit">Confirmar</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="col">&nbsp;</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/notify.js') }}"></script>
    <script>
        const $form = document.getElementById('setPassword')
        $form.addEventListener('submit', function (event) {
            if($form.password1.value != $form.password2.value) {
                bad_note('As senhas não são a mesma, por favor digite novamente.')
                setTimeout(() => {
                    $form.password1.value = ''
                    $form.password2.value = ''
                }, 1000)
                event.preventDefault();
            }
        })
    </script>
{% endblock %}